/* About section */
.about-content{
    position: relative;
}
.about-item{
    width: 30%;
    padding: 50px 20px;
    text-align: center;
    border: 1px solid #e8e8e8;
    float: left; 
    
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
color: #6195ff;
margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.5;
    margin-bottom: 10px;
}
.about-item-link{
text-transform: capitalize;
margin-bottom: 10px;
color: #6195ff;
}
.ltr-effect:hover .about-item-title{
    color:white;
}
.ltr-effect:hover .about-item-desc{
    color: wheat;
}