/* blog section */
.blog{
    background-color: #f8f8f8;
}
.blog-content{
    overflow: hidden;
}
.blog-item{
    width:30%;
    float: left;
    background-color: white;
    
}
.blog-item-img img{
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-list{
    list-style: none;
    margin: 10px 0;
}
.blog-list li{
    display: inline-block;
    padding: 0 5px;
}
.blog-list li i{
    color: #6195ff;
}
.blog-item-title{
    font-weight: bold;
    margin: 10px 0;
}
.blog-item-desc{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}
.blog-info a{
    color: #6195ff;
    text-transform: capitalize;
}
.blog-item.mrg{
    margin: 0 5%;
}