/* Home section */
.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover; /*css3*/
    position: relative;
    }
    .home .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .home-content{
        position: absolute;
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        
    }
    .home .title{
        color: white;
        text-transform: uppercase;
        font-size: 3.5rem;
    }
    .home .home-desc{
        margin: 20px 0;
        color: white;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    .home .btn{
        width: 150px;
        padding: 15px 0;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        font-size: 15px;
    }
    .home .btn-start{
        background-color: white;
        margin-right: 10px;
    }
    .home .btn-learn{
        background-color: #6195ff;
        color: white;
    }
    
    