/* number section */
.number{
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.number .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
.number-items{
    overflow: hidden;
    padding: 120px 0;

}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
    
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}
.number-item-title{
    font-size: 30px;
    color:white ;
    
}
.number-item-desc{
    font-size: 20px;
    margin-bottom: 10px;
    color:white ;
    text-transform: capitalize;
}