/* offer section */
.offer-content{
    overflow: hidden;
}
.offer-item{
    position: relative;
    width: 30%;
    float: left;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    padding: 20px 15px 25px 70px;
}
.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 20px;
    color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.offer-item-desc{
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #999;
}
.offer-item:hover .offer-item-title{
    color: white;
}

.offer-item.mrg{
    margin: 0 5%;
}
/* service section */
.service{
    background-color: #f9f9f9;
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header{
    text-align: left;
}
.service-item .section-header .line{
    margin: 0 0 40px 0;
}
.service-item-desc{
    color: #999;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding-right: 20px;

}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 9px;
    color: #999;
}
.service-list li i{
    border: 1px solid #6195ff;
    border-radius: 50%;
    color: #6195ff;
    width: 30px;
    height: 30px;
    padding: 7px;
}
.service-item-img img{
    width: 100%;
}
.service-bollets{
    list-style: none;
    text-align: center;
  
}
.service-bollets li{
    display: inline-block;
    width: 10px;
    height:10px;
    margin: 10px 5px;
    background-color:#e8e8e8;
    border-radius: 50%;
}
.service-bollets li.active{
    background-color: #6195ff;
}
.service-bollets li:hover{
    background-color: #6195ff;
}