
/* general css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*css3 */
}
.hover-opacity{
    transition: opacity 0.5s;
}
.hover-opacity:hover{
opacity: 0.8;
}
/* float problem solution */
.clear{
    clear: both;
}
a{
    text-decoration: none;
   
}
.pd-y{
    padding:120px 0;
}
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    content: "";
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    position: absolute;
    z-index: -1;
    transition: width 0.5s;
}
.ltr-effect:hover:after{
    width: 100%;
    
}
.ttb-effect{
    position: relative;
}

.ttb-effect::after{
    content: "";
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    position: absolute;
    z-index: -1;
    transition: height 0.5s;
}
.ttb-effect:hover:after{
    height: 100%;  
}

/* .header-container{
    overflow: hidden;
} */
/* fonts */
body{
    font-family: 'Varela Round', sans-serif;
}

h1 , h2 , h3 , h4 , h5 , h6{
    font-family:montserrat,sans-serif;
}
button{
    font-family: inherit;
}
.section-header{
    text-align: center;  
    margin-top: 20px ;
    margin-bottom: 40px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section-header .line{
    display: block;
    margin: auto;
    width: 150px;
    height: 4px;
    background-color: #6195ff;
   

}
/* last to up */
/* header */
.header{
    position: fixed;
    width: 100%;
    z-index: 10;

}

.container{
    width: 80%;
    margin: auto;
}

.header .logo{
    width: 40%;
    
    float: left;
}
.header .logo img{
   width: 20%;
   margin-top: 8px;
}

.header .nav{
    width: 60%;  
    float: left;
    text-align: right;
}
.header .nav > li{
    display: inline-block;
    text-align: center;
}
.header .nav >li> a{
    text-decoration: none;
    color: white;
    padding: 25px 15px;
    display: block;    
}
/* grouping  */
.header .nav >li > a.active::after, .header .nav> li > a::after{
    content: "";
    height:3px;
    display: block;
    transition:width .5s;
    background-color:#6195ff ;
    margin-top: 2px;
}
.header .nav >li > a.active::after{
    width: 100%;  
    }
.header .nav > li > a::after{
width: 0%;
}
.header .nav > li > a:hover::after{
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    text-decoration: none;
    background-color: #6195ff;
    width: 150px;
    left: -50%;
    list-style: none;  
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
    
}
.dropdown-menu >a{
    color: white;  
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}




/* footer section */
.footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
}
.footer-list{
    list-style:none;
    margin: 20px 0;
}
.footer-list li{
    display: inline-block;
   
}
.footer-list li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #6195ff;
    color: white;
    border-radius: 50%;
    margin: 0 5px;
}
.footer-list li a i{
    line-height: 50px;
}
.footer .copyright{
    color: #999;
    font-size: 17px;
    text-transform: uppercase;
}

   

 








