/* team section */
.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background-color:#e8e8e8 ;
    padding: 40px 10px;
    text-align: center;
}
.team-item.mg{
    margin: 0 5%;
}
.team-item .team-item-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #7ba7ff;
    color: #fff;
    margin-left: auto;
}
.team-overlay a i{
   line-height:  40px;
}


.team-item .team-item-img img{
    width: 100%;
}
.team-item .team-info-title{
    color: black;
    text-transform: capitalize;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-item .team-info-desc{
    color: #999;
    text-transform: capitalize;
    transition: color 0.5s;
}
.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-item.ttb-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: white;
}
.team-item:hover .team-info-desc{
    color:#6195ff;
}